<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DisBot Encryption</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Discord Communicator</h1>
    </header>

    <section id="info-section">
        <div class="info-container">
            <h2>Information</h2>
            <p>Bot Prefix: <span id="own_prefix"></span></p>
            <p>Ping: <span id="ping"></span></p>
        </div>
    </section>

    <section id="connection-section">
        <div class="form-container">
            <label for="prefix_out">Prefix:</label>
            <input type="text" id="prefix_out" placeholder="Enter prefix"/>
            <button onclick="connectToBot()">Connect</button>
        </div>

        <h2>Connections</h2>

        <div class="connections-container">
            <ul id="connections"></ul>
        </div>
    </section>

    <section id="message-section">
        <div class="form-container">
            <label for="messageSendInput">Enter message:</label>
            <input type="text" id="messageSendInput" placeholder="Type your message"/>
            <label for="prefix">Prefix:</label>
            <input type="text" id="prefix" placeholder="Enter prefix"/>
            <button onclick="sendMessage()">Send Message</button>
        </div>

        <h2>Messages</h2>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <script>
        document.getElementById('prefix_out').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                connectToBot();
            }
        })

        var socket = io.connect('http://' + document.domain + ':' + location.port);

        function sendMessage() {
            const message = document.getElementById('messageSendInput').value;
            const prefix = document.getElementById('prefix').value;
            const input_data = prefix + ' ' + message;
            document.getElementById(`${prefix}_messages`).appendChild(document.createElement('li')).textContent = '> ' + message;
            socket.emit('decrypt_in', {input_data: input_data});
        }

        function connectToBot() {
            const prefix_out = document.getElementById('prefix_out').value;
            if (document.getElementById(`${prefix_out}_messages`) == null) {
                const element = document.createElement('div');
                element.setAttribute('class', `messages-container`);
                element.appendChild(document.createElement('h2')).textContent = `Messages for ${prefix_out}`;
                element.appendChild(document.createElement('ul')).setAttribute('id', `${prefix_out}_messages`);
                document.getElementById('message-section').appendChild(element);
            }
            socket.emit('connect_to_bot', {prefix_out: prefix_out});
        }

        socket.on('decrypt_out', function(data) {
            const prefix = data.message.split(' ')[0];
            const message = data.message.split(' ').slice(1).join(' ');
            document.getElementById(`${prefix}_messages`).appendChild(document.createElement('li')).textContent = '< ' + message;
        });

        socket.on('bot_connect', function(data) {
            document.getElementById('connections').appendChild(document.createElement('li')).textContent = data.message;
        });


        // information display received from server
        socket.on('ping', function(data) {
            document.getElementById('ping').textContent = data.message;
        });

        socket.on('bot_id', function(data) {
            document.getElementById('bot_id').textContent = data.message;
        });

        socket.on('bot_prefix', function(data) {
            document.getElementById('own_prefix').textContent = data.message;
        });

        socket.on('bot_name', function(data) {
            document.getElementById('bot_name').textContent = data.message;
        });
    </script>
</body>
</html>


